@media  screen and (max-width: 768px) {


.fondo{
    background-image: url("imagen/foto3.jpg");
    
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover;
    position: relative;
    
} 

.grid-contenedor{
    display: grid; 
    grid-template-columns: auto; 
    grid-template-rows: auto; 
    gap: 0px 0px; 
    grid-auto-flow: column;
    grid-auto-flow: row;
    grid-template-areas: 
    "menu  menu menu"
    "texto texto texto"
    "img img img"
    "mapa mapa mapa"
    "pie pie pie";
    
} 

.menu { grid-area: menu  }
.texto { grid-area: texto  }
.mapa {grid-area: mapa;}
.img { grid-area: img;}
.pie {grid-area: pie;}

.menu{
    background-color: rgb(173, 144, 108);
    opacity: 0.7;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px rgba(0, 0 0, 0.6);
    

}

.logo{
    color: white;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 80px;

}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform:uppercase ;
    color: white;
}
.menu_items li:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition: 4ms;
}

.texto .p {
    display: grid;
    background-color: blue  ;

}

.img {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-style: ridge;
    text-align: center;
} 



.pie{
    width: 100%;
    background-color:rgb(173, 144, 108);
    opacity: 0.7;
}

.pie .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;


}

/* guitarras y baterias */

.titulo{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
    
}
.caja img{
    width: 220px;
    height: 280px;
    border-radius: 30px;
    

}

.caja{
    margin: 15px;
    
}
.caja p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

}





@media  screen and (min-width: 1200px) {


    .fondo{
        background-image: url("imagen/foto3.jpg");
        
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed ;
        background-size: cover;
        position: relative;
        
    } 
    
    .grid-contenedor{
        display: grid; 
        grid-template-columns: auto; 
        grid-template-rows: auto; 
        gap: 0px 0px; 
        grid-auto-flow: column;
        grid-auto-flow: row;
        grid-template-areas: 
        "menu  menu menu"
        "texto texto texto"
        "img img img"
        "mapa mapa mapa"
        "pie pie pie";
        
    } 
    
    .menu { grid-area: menu  }
    .texto { grid-area: texto  }
    .mapa {grid-area: mapa;}
    .img { grid-area: img;}
    .pie {grid-area: pie;}
    
    .menu{
        background-color: rgb(173, 144, 108);
        opacity: 0.7;
        height: 75px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid white;
        box-shadow: 5px 0 10px rgba(0, 0 0, 0.6);
    
    }

    .logo{
        color: white;
        font-size: 35px;
        padding: 0 80px;
        font-weight: bold;
    }
    
    .menu_items{
        display: flex;
        list-style: none;
        margin-right: 80px;
    
    }

    .menu_items li{
        border-radius: 3px;
        margin: 0 5px;
    }

    .menu_items li a{
        padding: 7px 13px;
        text-decoration: none;
        font-size: 18px;
        display: block;
        text-transform:uppercase ;
        color: white;
    }

    .menu_items li:hover{
        background-color: rgba(0, 0, 0, 0.3);
        transition: 4ms;
    }
    
    .texto .p {
        display: grid;
        background-color: blue  ;
    
    }

    .img {
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        border-style: ridge;
        text-align: center;
    } 
    
    .texto2{
        color: rgb(0, 0, 0);
        
    }
    
    .pie{
        width: 100%;
        background-color:rgb(173, 144, 108);
        opacity: 0.7;
    }
    
    .pie .grupo1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
    
    
    }

    /* guitarras y baterias */
    .titulo{
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin: 30px;
        font-size: 30px;
        
    }
    .caja img{
        width: 220px;
        height: 280px;
        border-radius: 30px;
        
    
    }
    
    
    .caja{
        margin: 15px;
        
    }
    .caja p{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    
    }


@media  screen and (max-width: 1400px) {

        .fondo{
            background-image: url("imagen/foto3.jpg");
            
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed ;
            background-size: cover;
            position: relative;
            
        } 
        
        .grid-contenedor{
            display: grid; 
            grid-template-columns: auto; 
            grid-template-rows: auto; 
            gap: 0px 0px; 
            grid-auto-flow: column;
            grid-auto-flow: row;
            grid-template-areas: 
            "menu  menu menu"
            "texto texto texto"
            "img img img"
            "mapa mapa mapa"
            "pie pie pie";
            
        } 
        
        .menu { grid-area: menu  }
        .texto { grid-area: texto  }
        .mapa {grid-area: mapa;}
        .img { grid-area: img;}
        .pie {grid-area: pie;}
        
        .menu{
            background-color: rgb(173, 144, 108);
            opacity: 0.7;
            height: 75px;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid white;
            box-shadow: 5px 0 10px rgba(0, 0 0, 0.6);
        
        }
        .logo{
            color: white;
            font-size: 35px;
            padding: 0 80px;
            font-weight: bold;
        }
        
        .menu_items{
            display: flex;
            list-style: none;
            margin-right: 80px;
        
        }
        .menu_items li{
            border-radius: 3px;
            margin: 0 5px;
        }
        .menu_items li a{
            padding: 7px 13px;
            text-decoration: none;
            font-size: 18px;
            display: block;
            text-transform:uppercase ;
            color: white;
        }
        .menu_items li:hover{
            background-color: rgba(0, 0, 0, 0.3);
            transition: 4ms;
        }
        
        .texto .p {
            display: grid;
            background-color: blue  ;
        
        }
        .img {
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
            border-style: ridge;
            text-align: center;
        } 
        
        .texto2{
            color: rgb(0, 0, 0);
            
        }
        
        .pie{
            width: 100%;
            background-color:rgb(173, 144, 108);
            opacity: 0.7;
        }
        
        .pie .grupo1{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
        
        
        }
        /* guitarras y baterias */
        
        .titulo{
            font-family: 'Times New Roman', Times, serif;
            width: 100%;
            text-align: center;
            font-weight: bold;
            margin: 30px;
            font-size: 30px;
            
        }
        .caja img{
            width: 220px;
            height: 280px;
            border-radius: 30px;
            
        
        }
        
        
        .caja{
            margin: 15px;
            
        }
        .caja p{
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }
        
        }

.fondo{
    width: 100%;
	height: 100vh;
	color: #fff;
    background: linear-gradient(45deg,rgb(45, 104, 99),rgb(184, 6, 109),green,rgb(235, 119, 119));
	background-size: 400% 400%;
	position: relative;
	animation: cambiar 10s ease-in-out infinite;
}

.menu{
    background: linear-gradient(45deg,rgb(45, 104, 99),rgb(184, 6, 109),green,rgb(235, 119, 119));
    position: relative;
	animation: cambiar 10s ease-in-out infinite;
    opacity: 3;
}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}



.menu_items li:hover{
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;

}



































































































    






















    
    
        